.wrapper {
    width: 80%;
    margin: 50px auto;
    border: 2px solid #bb86fc;
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 3;
}

.data {
    position: absolute;
    z-index: 2;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: white;
}

.loader {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    background: rgb(240,167,254);
    background: linear-gradient(90deg, rgba(240,167,254,1) 0%, rgba(170,108,213,1) 39%, rgba(130,81,194,1) 100%);
    transition: ease-out 1s;
}