.Timer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 20px;
}

.header > span {
    font-size: 1.2em;
    font-weight: bold;
    max-width: 328px;
}

.chosenTaskWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.chosenTaskWrapper__title {
    font-weight: bold;
    color: #bb86fc;
}

.chosenTaskWrapper__text {
    color: white;
    font-weight: lighter;
}

.control {
    display: flex;
    gap: 10px;
    justify-content: center;
}

