.Timer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.header > span {
    font-size: 1.2em;
    font-weight: bold;
    max-width: 328px;
}

.chosenTask {
    color: gray;
    font-size: 1em;
}